@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html,
body {
  height: 100%;
}

/* Sidebar */
.sidenav {
  height: 100%;
  width: 380px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #253611;
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.43);
}

div.grid-y {
  height: 93.46% !important;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-family: checfont1;
}

.sidenav a:hover {
  color: #000;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Img sidenav */
.sidebar {
  height: 3em;
}

#nav {
  padding-left: 380px;
  width: 100%;
  position: relative;
}

.top-bar {
  font-family: checfont1;
  background-image: url(../img/main-fondo.jpg);
}

#img-sidebar {
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}

.top-bar-left {
  font-size: 2em;
  color: #fff;
}

div#main_generalidades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 380px;
}

div#generalidades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  border-style: solid;
  border-width: 1.1px;
  border-color: grey;
  border-radius: 5px;
  /*   background-image: url(../img/bombillo.jpg); */
  background-size: cover;
}

div#header-generalidades {
  background-color: green;
  width: 100%;
  height: auto;
  align-self: flex-start;
  font-family: checfont1;
  font-size: 3em;
  color: #fff;
  text-align: center;
}

div#content-generalidades {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 70%;
  background-color: rgba(26, 125, 23, 0.5);
  font-family: checfont1;
  color: white;
  padding: 3%;
  overflow-y: auto;
  border-radius: 5px;
  flex-wrap: wrap;
}

div#content-criterios {
  width: 90%;
  height: 70%;
  background-color: rgba(26, 125, 23, 0.5);
  font-family: checfont1;
  color: white;
  padding: 3%;
  overflow-y: auto;
  border-radius: 5px;
}

p {
  font-size: 18px;
  text-align: justify;
  border-radius: 5px;
  padding: 5px;
}

.p-card {
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
}

button#generalidades-button {
  border-color: #000;
  color: #000;
}

button#generalidades-button:hover {
  border-color: white;
  background-color: #253611 !important;
  color: white;
}

.accordion {
  border-radius: 5px;
  background-color: #595959cc;
  font-size: 1em;
}

.accordion-title {
  color: #fff;
  transition: 0.3s;
}

.accordion-title:hover {
  color: green;
}

.accordion-content {
  text-align: center;
}

button#criterios-button {
  border-color: #253611;
  color: #253611;
  transition: 0.3s;
  font-family: checfont1;
}

button#criterios-button:hover {
  color: #fff;
  background-color: #253611;
}

div#main_glosario {
  width: 100%;
  height: 100%;
  padding-left: 380px;
  padding-top: 55px;
}

div#content-glosario {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  /*  background-color: rgba(26, 125, 23, 0.5); */
}

.tabs {
  font-family: checfont1;
  transition: 0.3s;
}

.tabs-content {
  background-color: rgba(255, 255, 255, 0.5);
}

div#recursos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1.1px;
  border-color: grey;
  border-radius: 5px;
  /*   background-image: url(../img/bombillo.jpg); */
  background-size: cover;
}

button.recursos-button {
  background-color: #253611 !important;
  color: #fff !important ;
  width: 50%;
  transition: 0.3s;
  align-self: center;
  font-family: checfont1;
  border-color: black;
}

button.recursos-button:hover {
  background-color: #92c849 !important;
  color: #000 !important;
  border-color: transparent;
}

div #subir-archivo.reveal {
  font-family: checfont1;
  padding: 0;
  text-align: center;
}

#label-nombre_archivo {
  text-transform: uppercase;
}

div#my-form {
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(26, 125, 23, 0.5);
  margin: 10px;
}

div#header-modal {
  display: flex;
  justify-content: center;
  font-size: 2em;
  flex-direction: column;
  width: 100%;
  color: #fff;
  height: 53px;
  background-color: #253611;
}

#button-subir {
  background-color: #253611 !important;
  color: #fff !important ;
  width: 50%;
  transition: 0.3s;
  align-self: center;
  font-family: checfont1;
  border-color: transparent !important;
}

#button-subir:hover {
  background-color: #92c849 !important;
  color: #000 !important;
  border-color: transparent;
}

div#download_test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #253611;
  border-radius: 5px;
  transition: 0.3s;
}

div#download_test:hover {
  background-color: grey;
}

i {
  font-size: 60px;
}

.tabs-panel.is-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 280px;
  height: 12em;
  margin: 10px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

div#main-herramientas {
  width: 100%;
}

div#filtros-herramientas {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div#ficheros-display {
  width: 100%;
}

div#area-ficheros {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

select{
  margin: 0px;
  font-family: checfont1;
}

label{
  font-family: checfont1;
}

option{
  font-family: checfont1 !important;
}

/* @MEDIA QUERYS*/
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
